body {
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.weather-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current-statements {
  margin: 0px;
  font-weight: 300;
  font-size: 21px;
}
.wrapper {
  margin-top: 10px;
}

.city {
  margin-top: 50px;
  margin-bottom: 50px;
}

.city img {
  padding-bottom: 20px;
  max-width: 90px;
}

.city h1 {
  margin: 0;
  font-size: 30px;
}

.week-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px dotted;
  line-height: 3px;
}
.week-wrap h1 {
  font-weight: 300;
  font-size: 21px;
}

.button-cities {
  background-repeat: no-repeat;
  border: none;
  width: 45px;
  height: 45px;
  margin-top: 30px;
}

/* Color themes for different kinds of weather */

.sunny {
  color: #2a5510;
  background-color: #f7e9b9;
}

.rainy {
  color: #164a68;
  background-color: #a3def7;
}

.cloudy {
  color: #f47775;
  background-color: #f4f7f8;
}
.snow {
  color: #6c2e88;
  background-color: #e9e0e7;
}
.unpredictable {
  color: #862c4d;
  background-color: #bfe2e0;
}
.place {
  font-size: 37px;
  line-height: 1.5;
}
footer {
  text-align: center;
  padding: 20px;
}
.input {
  font-size: 18px;
  border-radius: 5px;
}
.input-button {
  font-size: 20px;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .weather-cont {
    width: 70%;
    margin: 0px auto;
  }
}
